{# default.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>

    <title>Web à Québec</title>

    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="description" content="Le plus grand événement numérique francophone en Amérique est de retour pour une 6e édition!">
    <meta name="dcterms.description" content="Le plus grand événement numérique francophone en Amérique est de retour pour une 6e édition!" />
    <meta name="keywords" content="web a quebec, web à québec, waq, waq15, waq16, waq2015, waq2016, quebec numerique, quebec, numerique" />

    <!-- Open Graph -->
    <meta property="og:title" content="Web à Québec - Édition 2016" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://webaquebec.org/img/share-fb.jpg" />
    <meta property="og:url" content="http://webaquebec.org/" />
    <meta property="og:description" content="Le plus grand événement numérique francophone en Amérique est de retour pour une 6e édition!" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/favicon.png">

    <!-- Stylesheets -->
    {% stylesheet "/css/main.css" %}

    <!-- Templates styles -->
    {% if templates == true %}{% stylesheet "/css/templates.css" %}{% endif %}

    <!-- Modernizr & Detectizr -->
    {% script "/js/vendor/modernizr.min.js" %}
    {% script "/js/vendor/detectizr.min.js" %}

    {% script "/js/vendor/svg4everybody.min.js" %}

    <!-- Google Font Fallback -->
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700' rel='stylesheet' type='text/css'>

</head>
<body class="{{ class }}">

    <a href="#skip-menu-anchor" class="skip-menu-link">Passer au menu</a>
    <a href="#skip-content-anchor" class="skip-content-link">Passer au contenu</a>

    <!-- Header -->
    {% if templates == true %}
        {% include 'templates/partials/header.twig' %}
    {% else %}
        {% include 'partials/header.twig' %}
    {% endif %}

    <!-- Content -->
    {% block page %}{% endblock %}

    <!-- Footer -->
    {% if templates == true %}
        {% include 'templates/partials/footer.twig' %}
    {% else %}
        {% include 'partials/footer.twig' %}
    {% endif %}

    {% google-analytics "UA-20043510-1" %}

    <!-- Javascript bundle -->
    {% script "/js/bundle.js" %}

</body>
</html>
