<footer class="l-footer">
    <div class="l-page-wrapper">
	    <div class="grid">
	        <div class="grid-wrapper">
	            <div class="col-4-5 col-1-1-mobile is-text-align-left">
	            	<p><a href="tel:18773342547">1-877-334-2547</a> | <a href="mailto:info@webaquebec.org">info@webaquebec.org</a></p>
	            </div>
	            <div class="col-1-5 col-1-1-mobile is-text-align-right">
		            <ul class="no-list-style">
		            	<li><a href="https://twitter.com/webaquebec" class="btn is-round c-twitter"><span class="visuallyhidden">Twitter: @webaquebec</span>{% svg "twitter", "17x17" %}</a></li>
		            	<li><a href="https://www.facebook.com/webaquebec" class="btn is-round c-facebook"><span class="visuallyhidden">Facebook</span>{% svg "facebook", "17x17" %}</a></li>
		            	<li><a href="https://instagram.com/webaquebec/" class="btn is-round c-instagram"><span class="visuallyhidden">Instagram: @webaquebec</span>{% svg "instagram", "17x17" %}</a></li>
		            </ul>
	            </div>
	            <div class="col-1-1 col-1-1-mobile">
		            <hr>
		            <p class="by">Le Web à Québec est un événement propulsé par <a target="_blank" href="http://www.quebecnumerique.com/contact/">Québec Numérique (OBNL)</a>.</p>
		            <p class="by">Événement membre de la <a target="_blank" href="http://semainenumerique.com">Semaine Numérique</a>.</p>
	            </div>
	        </div>
	    </div>
    </div>
</footer>
