// ------------------------------ //
//             Footer             //
// ------------------------------ //

.l-footer {
	text-align: center;
	padding: 30px 0 0 0;
	
	.l-page-wrapper{
		max-width: 540px;
	}
	ul{
		li{
			margin-top: 0 !important;
		}
		
		@include respond-to(mobile){
			text-align: center;
		}
	}
	
	p{
		color: $c-footer-txt;
		font-weight: 300;
		
		@include respond-to(mobile){
			text-align: center;
		}
		
		a{
			font-weight: 400;
			color: $c-footer-txt;
		}
		
		&.by{
			color: $c-footer-by;
			font-weight: 300;
			@include rem-typo(13px, 15px);
			a{
				font-weight: 400;
				color: $c-footer-by;
			}
		}
	}
	
	hr{
		margin: 0;
		border-bottom: 2px solid $c-footer-hr;
	}

}