// ------------------------------ //
//             Header             //
// ------------------------------ //

.l-header{
	position: absolute;
	top: 0;
	left:0;
	z-index: 100;
	width: 100%;
	
	@include respond-to(mobile){
		text-align: center;
	}
	
	.l-page-wrapper{
		width: 100vw;
		padding-top: 30px;
	}
	
	.logo-wrapper{
		fill: white;
		margin-left: 30px;
		
		@include respond-to(mobile){
			margin-left: 0;
		}
	}
	
	p{
		display: inline-block;
		color: white;
		margin: 0;
		vertical-align: middle;
		margin-left: 10px;
		font-weight: 600;
		line-height: 1.2em;
		
		@include respond-to(mobile){
			margin-left: 0;
			line-height: 1em;
			margin-top: 10px;
			display: block;
		}
	}
	
}