// --------------------------------- //
//             Variables             //
// --------------------------------- //

$spacing-default: 40px;
$spacing-tablet: 30px;
$spacing-mobile: 20px;
$document-width: 678px;
$document-width-inner: $document-width - $spacing-default * 2;

// ------------------------------------- //
//             Media queries             //
// ------------------------------------- //

// Media queries
$mq-breakpoints: (
    "mobile": (
        min: false,
        max: 678px,
        grid: true,
        export: true
    ),
    "desktop": (
        min: 678px,
        max: false,
        grid: true,
        export: true
    ),
    "document-width": (
        min: false,
        max: $document-width,
        grid: false,
        export: false
    )
);

// ------------------------------ //
//             Colors             //
// ------------------------------ //

$colors: (
    "black": (
        "base": #000
    ),
    "white": (
        "base": #fff
    ),
    "blue": (
        "base": #00effb,
        "dark": #00daf2,
        "darker": #00d8f1,
        "darkest": #00bfdf,
        "text": #4dc6e1,
        "twitter": #78cdf0,
        "facebook": #537bbd
    ),
    "orange": (
        "base": #ff8000,
        "dark": #e47200
    ),
    "grey": (
        "base": #989e9f,
        "light": #b0b8b9,
        "faint": #e5eff1,
        "instagram": #696a6a,
        "dark": #cfd1d3
    ),
);

@function color($color, $tone: "base") {
    @if map-has-key($colors, $color) {
        @return map-get(map-get($colors, $color), $tone);
    } @else {
        @warn "Unfortunately, no value could be retrieved from `#{$color}`. Please make sure it is defined in `$colors` map.";
        @return null;
    }
}

// ------------------------------ //

$c-bg-document: color("white");
$c-border-default: color("white");
$c-txt-default: color("black");
$c-txt-headers: color("black");
$c-txt-intro: color("black");
$c-txt-links: color("black");
$c-alert: color("blue");

$c-intro-bg-top-right: color("blue");
$c-intro-bg-bottom-left:  color("blue","darker");
$c-intro-txt: color("white");

$c-cfp-bg: color("blue");
$c-cfp-content-bg: color("white");
$c-cfp-title: color("blue", "text");
$c-cfp-txt: color("grey");

$c-newsletter-bg: color("white");
$c-newsletter-title: color("blue", "text");
$c-newsletter-txt: color("blue", "text");
$c-newsletter-input-bg: color("grey", "dark");
$c-newsletter-input-txt: color("white");
$c-newsletter-submit-bg: color("orange");
$c-newsletter-submit-bg-hover: color("orange", "dark");
$c-newsletter-submit-txt: color("white");

$c-past-bg: color("blue", "dark");
$c-past-title: color("white");
$c-past-txt: color("white");

$c-footer-bg: color("white");
$c-footer-txt: color("blue", "darkest");
$c-footer-by: color("grey", "light");
$c-footer-hr: color("blue", "darkest");

$c-twitter: color("blue", "twitter");
$c-facebook: color("blue", "facebook");
$c-instagram: color("grey", "instagram");

// ----------------------------- //
//             Fonts             //
// ----------------------------- //

$ff-titillium: "Titillium Web", "Arial", sans-serif;

// ------------------------------ //

$ff-default: $ff-titillium;
$ff-headers: $ff-titillium;
