<div class="l-content cfp">
	<div class="boat-viewport">
		<div class="boat-wrapper-move">
			{% svg "boat", "200x90" %}
		</div>
	</div>
    <div class="l-content-wrapper is-single-column">
        <div class="l-page-wrapper">
            <div class="l-block-content">

            	<h2 class="title">Merci pour votre candidature !</h2>

            	<p>Cette année, vous avez été plus de 100 personnes à proposer votre candidature à titre de conférencier pour le Web à Québec. Merci pour votre intérêt, nous analysons actuellement tous les dossiers et entrerons prochainement en contact avec vous. D’ici là, profitez-en pour nous suivre sur Facebook, Twitter et LinkedIn pour ne rien manquer de cette 6e édition !</p>

            </div>
        </div>
    </div>
</div>
