<div class="l-content cfp">
	<div class="boat-viewport">
		<div class="boat-wrapper-move">
			{% svg "boat", "200x90" %}
		</div>
	</div>
    <div class="l-content-wrapper is-single-column">
        <div class="l-page-wrapper">
            <div class="l-block-content">
            	
            	<h2 class="title">Appel aux conférenciers</h2>
            	
            	<p>Tous les talents de Québec ou d’ailleurs sont invités à soumettre une présentation au comité de programmation 2016. Suite au succès de l’an dernier, nous souhaitons offrir encore plus de contenu pour les développeurs et les designers. Toutefois, les sujets et les thèmes d’actualité liés au numérique sont les bienvenus.</p>
            	
            	<a href="https://docs.google.com/a/webaquebec.org/forms/d/10CiBwJIVxgQerwP2ttZnH14gfK1irbj49vMku1szisw/viewform" target="_blank" class="btn has-hard-shadow c-orange">Appliquez maintenant</a>
            	
            </div>
        </div>
    </div>
</div>
