<div class="l-content cfp">
	<div class="boat-viewport">
		{% svg "boat", "200x90" %}
	</div>
    <div class="l-content-wrapper is-single-column">
        <div class="l-page-wrapper">
            <div class="l-block-content">
            	
            	<h2 class="title">Appel aux conférenciers</h2>
            	
            	<p>Tous les talents locaux (ou non) sont invités à proposer leur présentation au comité de programmation 2016. Suite au succès de l’an dernier, nous souhaitons offrir encore plus contenu pour les développeurs et les designers, bien que tous les sujets et thèmes d’actualité soient bienvenus.</p>
            	
            	<a href="" class="btn has-hard-shadow c-orange">Appliquez maintenant</a>
            	
            </div>
        </div>
    </div>
</div>