<div class="l-content intro">
    <div class="l-content-wrapper is-single-column">
        <div class="l-page-wrapper">
            <div class="l-block-content">

            	<h1 class="h2">Web à Québec 2016</h1>

        	    <div class="stats counter">
        	        <div class="odometer digits-1">
        	            <ul class="digits">
        	              <li class="digit">
        	                <span class="cou-item cou-item-anim">
        	                  <ul class="goto-3">
        	                  	<li>9</li><li>0</li><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>0</li>
        	                  </ul>
        	                </span>
        	              </li>
        	              <li class="digit">
        	                <span class="cou-item">
        	                  <ul class="goto-0">
        	                  	<li>9</li><li>0</li><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>0</li>
        	                  </ul>
        	                </span>
        	              </li>
        	              <li class="digit">
        	                <span class="cou-item">
        	                  <ul class="goto-0">
        	                  	<li>9</li><li>0</li><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>0</li>
        	                  </ul>
        	                </span>
        	              </li>
        	              <li class="digit">
        	                <span class="cou-item">
        	                  <ul class="goto-0">
        	                  	<li>9</li><li>0</li><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>0</li>
        	                  </ul>
        	                </span>
        	              </li>
        	              <li class="digit">
        	                <span class="cou-item">
        	                  <ul class="goto-0">
        	                  	<li>9</li><li>0</li><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>0</li>
        	                  </ul>
        	                </span>
        	              </li>
        	              <li class="digit">
        	                <span class="cou-item">
        	                  <ul class="goto-0">
        	                  	<li>9</li><li>0</li><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>0</li>
        	                  </ul>
        	                </span>
        	              </li>
        	            </ul>
        	        </div>
        	        <div class="text"><span>jours de conférences</span></div>
        	    </div>

            	<p>Le plus grand événement numérique francophone en Amérique du Nord vous ouvre les portes de ses 7 salles de conférence du 6 au 8 avril 2016. Venez découvrir les dernières tendances numériques, rencontrer les acteurs importants de l'écosystème et approfondir vos connaissances.</p>

                {% if introEventbrite %}
            	       <a href="http://www.eventbrite.com/e/billets-web-a-quebec-2016-6e-edition-18295299734" class="eventbrite">Achetez vos billets sur <span class="visuallyhidden">Instagram: @webaquebec</span>{% svg "eventbrite", "150x40" %}</a>
                {% endif %}

            </div>
        </div>

        <div class="paralax-viewport">
        	<div class="parallax-layer"><img class="chateau" src="/svg/originals/chateau.svg"></div>
        	<div class="parallax-layer clouds front">
        		<div class="first">
	        		<div class="cloud"></div>
	    			<div class="cloud"></div>
	    			<div class="cloud"></div>
	    			<div class="cloud"></div>
	    			<div class="cloud"></div>
	    			<div class="cloud"></div>
	    			<div class="cloud"></div>
	    			<div class="cloud"></div>
	    			<div class="cloud"></div>
	    			<div class="cloud"></div>
	    			<div class="cloud"></div>
	    			<div class="cloud"></div>
				</div>
				<div class="scnd">
					<div class="cloud"></div>
					<div class="cloud"></div>
					<div class="cloud"></div>
					<div class="cloud"></div>
					<div class="cloud"></div>
					<div class="cloud"></div>
					<div class="cloud"></div>
					<div class="cloud"></div>
					<div class="cloud"></div>
					<div class="cloud"></div>
					<div class="cloud"></div>
					<div class="cloud"></div>
				</div>
        	</div>
        	<div class="parallax-layer clouds back">
        		<div class="first">
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        		</div>
        		<div class="scnd">
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        			<div class="cloud"></div>
        		</div>
        	</div>
        </div>
    </div>
</div>
