<div class="l-content intro">
    <div class="l-content-wrapper is-single-column">
        <div class="l-page-wrapper">
            <div class="l-block-content">
            	<h1><img src="img/logo.png" alt="Web à Québec - Édition 2016"></h1>
            	<div class="paralax-viewport">
            		<div class="parallax-layer"></div>
            		<div class="parallax-layer"></div>
            	</div>
            </div>
        </div>
    </div>
</div>