
<div class="l-content live">
	<div class="boat-viewport">
		<div class="boat-wrapper-move">
			{% svg "boat", "200x90" %}
		</div>
	</div>
    <div class="l-content-wrapper is-single-column">
        <div class="l-page-wrapper">
            <div class="l-block-content">
                <div class="video-container">
                	<iframe width="1280" height="720" src="https://www.youtube.com/embed/YKwCfcNmQXs" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
