<div class="l-content newsletter">
    <div class="l-content-wrapper is-single-column">
        <div class="l-page-wrapper">
            <div class="l-block-content">
               <h2 class="title">Inclus</h2>
                    <div class="mtl-item">
                        <div class="item-title">Voyagement en autocar Deluxe</div>
                        <div class="item-desc">Départ le Mardi 5 avril à 15h de MTL, retour le vendredi 8 avril départ à 19h de Qc</div>
                    </div>
                    <div class="mtl-item">
                        <div class="item-title">3 nuits d’hébergement au Hilton de Québec</div>
                        <div class="item-desc">À venir plus d'informations.</div>
                    </div>
                    <div class="mtl-item">
                        <div class="item-title">Transport en navette pour aller à l’événement</div>
                        <div class="item-desc">À venir plus d'informations.</div>
                    </div>
                    <div class="mtl-item">
                        <div class="item-title">Tous les déjeuners et repas du midi et cocktails fournis</div>
                        <div class="item-desc">À venir plus d'informations.</div>
                    </div>
                    <div class="mtl-item">
                        <div class="item-title">L’accès au WAQ 2016</div>
                        <div class="item-desc">À venir plus d'informations.</div>
                    </div>
            </div>
        </div>
    </div>
</div>