<div class="l-content cfp">
  <div class="boat-viewport">
    <div class="boat-wrapper-move">
      {% svg "boat", "200x90" %}
    </div>
  </div>
    <div class="l-content-wrapper is-single-column">
        <div class="l-page-wrapper">
            <div class="l-block-content">

              <h2 class="title">Forfait MTL</h2>

              <p><a href="http://deloitte.com" target="_blank"><img class="mtl-partner" src="/img/mtl-deloitte.png"></a></p>

              <p>Montréal + WAQ = Amour</p>
              <p class="mtl-price">850$</p>
              <p class="mlt-price-sub">formule deluxe tout inclus</p>

              <a href="http://www.eventbrite.com/e/billets-web-a-quebec-2016-6e-edition-18295299734" class="eventbrite">Achetez le forfait sur <span class="visuallyhidden">Instagram: @webaquebec</span>{% svg "eventbrite", "150x40" %}</a>

            </div>
        </div>
    </div>
</div>
