<div class="l-content mtl">
    <div class="l-content-wrapper is-single-column">
        <div class="l-page-wrapper">
            <div class="l-block-content">
               <h2 class="title">Inclus pour vous</h2>
                    <div class="mtl-item">
                        <div class="item-icon">{% svg "mtl-hotel", "150x150" %}</div>
                        <div class="item-title">3 nuits d’hébergement au <a href="http://www.hiltonquebec.com/fr/">Hilton de Québec</a></div>
                        <div class="item-desc">Plus d'informations à venir.</div>
                    </div>
                    <div class="mtl-item">
                        <div class="item-icon"><img src="/svg/originals/mtl-transport.svg" width="150"></div>
                        <div class="item-title">Voyagement en autocar Deluxe</div>
                        <div class="item-desc">
                            <p>Départ le mardi 5 avril à 15h de Montréal.</p>
                            <p>Retour le vendredi 8 avril, départ à 19h de Québec.</p>
                            <p>Transport en navette de l'hotel vers l’événement à chaque jour.</p>
                        </div>
                    </div>
                    <div class="mtl-item">
                        <div class="item-icon">{% svg "mtl-food", "150x150" %}</div>
                        <div class="item-title">Tous les déjeuners, repas du midi et cocktails compris</div>
                        <div class="item-desc">Seulement les soupers sont à votre discrétion.</div>
                    </div>
                    <div class="mtl-item">
                        <div class="item-icon">{% svg "mtl-ticket", "150x150" %}</div>
                        <div class="item-title">L’accès au WAQ 2016</div>
                        <div class="item-desc">Vous recevez votre cocarde à l'hotel, vous ne pourrez donc pas l'oublier!<div>
                    </div>
            </div>
        </div>
    </div>
</div>