<div class="l-content mtl">
    <div class="l-content-wrapper is-single-column">
        <div class="l-page-wrapper">
            <div class="l-block-content">
                <h2 class="title">Le WAQ en formule tout inclus</h2>
                    <div class="mtl-item-wrapper">
                        <div class="mtl-item">
                            <div class="item-icon">{% svg "mtl-hotel", "150x150" %}</div>
                            <h3 class="item-title">3 nuits d’hébergement au <a href="http://www.hiltonquebec.com/fr/">Hilton de Québec</a></h3>
                            <div class="item-desc">Bien se reposer est essentiel pour profiter pleinement de ces 3 jours de conférences et d’activités. À cet effet, nous avons tout fait pour vous offrir une expérience incroyable! Pour cette 6e édition du Web à Québec, profitez pleinement du Hilton Québec et de ses nombreux charmes. Au détour des couloirs de cet hôtel 4 étoiles, vous trouverez bien entendu des chambres d’un confort remarquable, une vue à couper le souffle ainsi que plusieurs commodités (piscine, centre de santé, massothérapie, sauna, etc.) qui vous feront particulièrement aimer votre séjour.</div>
                        </div>

                        <div class="mtl-item">
                            <div class="item-icon"><img src="/svg/originals/mtl-transport.svg" width="150"></div>
                            <h3 class="item-title">Un transport en toute tranquillité</h3>
                            <div class="item-desc">
                                Le mardi 5 avril, rendez-vous à 15 h à XXX où votre autocar vous attendra pour un départ en direction de Québec. Vous profiterez du confort ainsi que du Wi-Fi disponible pour travailler ou pour vous relaxer, avant ces 3 jours de congrès. Vendredi 8 avril à 19 h, le même autocar assurera bien entendu votre retour à Montréal en toute tranquillité. Le plus beau dans tout cela? On s’occupe également de votre transport pour vous rendre sur les lieux du Web à Québec avec une navette matinale de l’hôtel au Terminal du port de Québec!
                            </div>
                        </div>

                        <div class="mtl-item">
                            <div class="item-icon">{% svg "mtl-food", "150x150" %}</div>
                            <h3 class="item-title">Déjeuners, repas du midi et cocktails compris</h3>
                            <div class="item-desc">
                                Le Web à Québec n’est pas un simple événement. C’est un rassemblement de passionnés qui partagent de précieux moments. Pour transformer ces moments en souvenirs inoubliables, le Web à Québec vous offre tout ce dont vous avez besoin. En plus des 5 à 7 qui ont fait le bonheur de milliers de participants, nous avons également le plaisir de vous offrir les déjeuners, les collations, les dîners et bien sûr un after WAQ pour vivre ce grand événement comme il se doit!
                            </div>
                        </div>

                        <div class="mtl-item">
                            <div class="item-icon">{% svg "mtl-ticket", "150x150" %}</div>
                            <h3 class="item-title">Un accès au plus grand événement numérique francophone en Amérique</h3>
                            <div class="item-desc">
                                Directement livré dans votre chambre d’hôtel, votre billet pour le Web à Québec vous donnera accès à une expérience unique! Durant ces trois jours, partez à la rencontre de plus de 900 passionnés au détour de 7 salles thématiques et des 60 conférences qu’elles accueilleront. Que ce soit pour parfaire vos connaissances, faire des affaires ou simplement pour prendre du bon temps, nos 60 bénévoles sont là pour vous faire vivre un moment inoubliable!
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mtl-call-to-action">
                    <a href="http://www.eventbrite.com/e/billets-web-a-quebec-2016-6e-edition-18295299734" class="eventbrite">Réservez votre forfait sur {% svg "eventbrite", "150x40" %}</a>
                </p>

                <h3>Des moments inoubliables tout inclus!</h3>
                <div class="mtl-waq-more">Le Web à Québec n’est pas un simple événement. C’est un rassemblement de passionnés qui partagent de précieux moments. Pour transformer ces moments en souvenirs inoubliables, le Web à Québec vous offre tout ce dont vous avez besoin. En plus des 5 à 7 qui ont fait le bonheur de milliers de participants, nous avons également le plaisir de vous offrir les déjeuners, les collations, les dîners et bien sûr un after WAQ pour vivre ce grand événement comme il se doit!</div>
            </div>
        </div>
    </div>
</div>