<div class="l-content cfp">
  <div class="boat-viewport">
    <div class="boat-wrapper-move">
      {% svg "boat", "200x90" %}
    </div>
  </div>
    <div class="l-content-wrapper is-single-column">
        <div class="l-page-wrapper">
            <div class="l-block-content">

              <h2 class="title">Forfait MTL</h2>

              <p><a href="http://deloitte.com" target="_blank"><img class="mtl-partner" src="/img/mtl-deloitte.png"></a></p>

              <p>Proposé en partenariat avec Deloitte, le « Forfait MTL » est idéal pour les professionnels montréalais! Réservé à 30 privilégiés, ce forfait comprend le transport en bus de luxe, l’hébergement au Hilton Québec ainsi que l’accès à l’édition 2016 du Web à Québec, activités et commodités incluses, <strong>pour seulement 850 $</strong>.</p>

              <a class="mtl-buy-button" href="http://www.eventbrite.com/e/billets-web-a-quebec-2016-6e-edition-18295299734" class="eventbrite">Réservez votre forfait</a>
              <div class="mtl-limited-qty">*Disponible en quantité limitée</div>

            </div>
        </div>
    </div>
</div>
