<div class="l-content mtl">
    <div class="l-content-wrapper is-single-column">
        <div class="l-page-wrapper">
            <div class="l-block-content">
                <h2 class="title">Le WAQ en formule tout inclus</h2>
                    <div class="mtl-item-wrapper">
                        <div class="mtl-item">
                            <div class="item-icon"><img src="/svg/originals/mtl-transport.svg" width="150"></div>
                            <h3 class="item-title">Transport en autocar de luxe</h3>
                            <div class="item-desc">
                                <strong>Mardi le 5 avril, rendez-vous à 15 h</strong> à XXX où votre autocar vous attendra pour un départ en direction de Québec. Profitez du confort et du Wi-Fi pour travailler ou pour relaxer avant ces 3 jours de congrès. <strong>Vendredi le 8 avril à 19h à XXX</strong>, le même autocar assurera votre retour à Montréal en toute tranquillité. Le plus beau dans tout cela? On s’occupe de votre transport chaque matin, de l’hôtel au Terminal du port de Québec!
                            </div>
                        </div>

                        <div class="mtl-item">
                            <div class="item-icon">{% svg "mtl-hotel", "150x150" %}</div>
                            <h3 class="item-title">3 nuitées au <a href="http://www.hiltonquebec.com/fr/">Hilton Québec</a></h3>
                            <div class="item-desc">
                                Bien se reposer est essentiel pour profiter pleinement de ces 3 jours de conférences et d’activités. À cet effet, nous avons tout fait pour vous offrir une expérience incroyable! Pour cette 6e édition du WAQ, profitez du Hilton Québec et de ses nombreux charmes. Au détour des couloirs, vous trouverez des chambres d’un confort remarquable, une vue à couper le souffle et plusieurs commodités (piscine extérieure, gym, massothérapie, sauna, etc.) qui vous feront particulièrement aimer votre séjour.
                            </div>
                        </div>

                        <div class="mtl-item">
                            <div class="item-icon">{% svg "mtl-ticket", "150x150" %}</div>
                            <h3 class="item-title">Un accès au plus grand événement numérique francophone en Amérique</h3>
                            <div class="item-desc">
                                Livré directement à votre chambre d’hôtel, votre billet pour le WAQ vous donnera accès à une expérience unique! Durant ces trois jours, partez à la rencontre de plus de 900 passionnés au détour des 7 salles thématiques et des 60 conférences qu’elles accueilleront. Que ce soit pour approfondir vos connaissances ou faire des affaires, nos 60 bénévoles sont là pour vous faire vivre un moment inoubliable!
                            </div>
                        </div>

                        <div class="mtl-item">
                            <div class="item-icon">{% svg "mtl-food", "150x150" %}</div>
                            <h3 class="item-title">Déjeuners, dîners et cocktails compris</h3>
                            <div class="item-desc">
                                Le WAQ n’est pas qu’un simple événement. C’est un rassemblement de passionnés qui partagent de précieux moments. Pour en profiter pleinement, le WAQ vous offre tout ce dont vous avez besoin. En plus des 5 à 7 qui font le bonheur des participants, nous offrons les déjeuners, les collations, les dîners et bien sûr un after WAQ pour vivre ce grand événement comme il se doit!
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mtl-call-to-action">
                    <a class="mtl-buy-button" href="http://www.eventbrite.com/e/billets-web-a-quebec-2016-6e-edition-18295299734" class="eventbrite">Réservez votre forfait</a>
                    <div class="mtl-limited-qty">*Disponible en quantité limitée</div>
                </div>
            </div>
        </div>
    </div>
</div>