<div class="l-content past">
    <div class="l-content-wrapper is-single-column">
        <div class="l-page-wrapper">
            <div class="l-block-content">
            	
            	<h2 class="h1 title">Notre histoire</h2>
            	
            	<p>Le WAQ est né autour de l’idée de célébrer et de promouvoir le Web à Québec par le biais d’un événement annuel rassembleur. Visitez nos éditions précédentes pour découvrir l’esprit de l'événement et les programmations passés.</p>
            	
            	<ul class="no-list-style">
            		<li><a href="http://2015.webaquebec.org" class="btn c-blue has-soft-shadow-hover is-big is-bold has-min-width-year"><span class="visuallyhidden">Web à Québec - Édition </span>2015</a></li>
        			<li><a href="http://2014.webaquebec.org" class="btn c-blue has-soft-shadow-hover is-big is-bold has-min-width-year"><span class="visuallyhidden">Web à Québec - Édition </span>2014</a></li>
    				<li><a href="http://2013.webaquebec.org" class="btn c-blue has-soft-shadow-hover is-big is-bold has-min-width-year"><span class="visuallyhidden">Web à Québec - Édition </span>2013</a></li>
					<li><a href="http://2012.webaquebec.org" class="btn c-blue has-soft-shadow-hover is-big is-bold has-min-width-year"><span class="visuallyhidden">Web à Québec - Édition </span>2012</a></li>
            	</ul>
            	
            </div>
        </div>
    </div>
</div>