<div class="l-content tickets">
    <div class="l-content-wrapper is-single-column">
        <div class="l-page-wrapper">
            <div class="l-block-content">
            
            </div>
        </div>
    </div>
</div>