.counter{
	transition: all 1s cubic-bezier(0, 1.2, 1, 1.2);

	.text{
		display: inline-block;
		@include rem-typo(40px, 60px);
		font-weight: bold;
		margin-left: 10px;
		color: white;
		position: relative;
		bottom: 1px;
		text-align: left;
	    white-space:nowrap;
	    -webkit-transition: all 1s ease-in-out;
	    -moz-transition: all 1s ease-in-out;
	    -o-transition: all 1s ease-in-out;
	    transition: all 1s ease-in-out;
	    overflow: hidden;
	    vertical-align: middle;
	
		/*
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		transition: all 1s cubic-bezier(0, 1.2, 1, 1.2);
		
		&.change{
			-webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
			clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
		}
		*/
		
		&.change{
			width:0 !important;
			margin-left: 0;
		}
		
		&.get-width{
			width:auto !important;
			visibility: hidden;
		    -webkit-transition-duration: 0; /* Safari */
		    transition-duration: 0;
		}
		
	}
}

.odometer {
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #fff;
	border-radius: 4px;
	height: rem(60px);
    padding-top: rem(4px);
	overflow: hidden;
	transition: all 0.5s ease-out;
	position: relative;
	background-color: color("blue", "dark");
	
	&:before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 50;
		border-radius: 5px;
		@include background-image(linear-gradient(top, rgba(color("blue", "dark"),0.8) 0%,rgba(color("blue", "dark"),0) 20%,rgba(color("blue", "dark"),0) 80%,rgba(color("blue", "dark"),0.8) 100%));
	}
	
	ul.digits {
		list-style: none;
		padding: 0px;
		margin: 0px;
		width: 500px;
		position: relative;
		z-index: 10;
		
		li.digit {
			position: relative;
			float: left;
			background-color: transparent;
			width: rem(40px);
			height: rem(60px);
			
			.cou-item {
				ul {
					position: absolute;
					list-style: none;
					padding: 0px;
					margin: 0px;
					left: 0px;
					top: 0px;
					width: 100%;
					height: rem(40px);
					
					backface-visibility: hidden;
					transform-origin: 50% 50%;
					transform: translate(0, 0em);
					transition: all 1s cubic-bezier(0, 1.2, 1, 1.2);
					
					li {
						display: block;
						background-color: transparent;
						@include rem-typo(40px, 40px);
						font-weight: bold;
						color: white;
						margin: 0;
					}
				}
			}
		}
	}
}

.goto-0 {
	transform:translateY(rem(-40px)) !important;
}
.goto-1 {
	transform:translateY(rem(-40px*2)) !important;
}
.goto-2 {
	transform:translateY(rem(-40px*3)) !important;
}
.goto-3 {
	transform:translateY(rem(-40px*4)) !important;
}
.goto-4 {
	transform:translateY(rem(-40px*5)) !important;
}
.goto-5 {
	transform:translateY(rem(-40px*6)) !important;
}
.goto-6 {
	transform:translateY(rem(-40px*7)) !important;
}
.goto-7 {
	transform:translateY(rem(-40px*8)) !important;
}
.goto-8 {
	transform:translateY(rem(-40px*9)) !important;
}
.goto-9 {
	transform:translateY(rem(-40px*10)) !important;
}

.digits-1 {
	width: rem((40px)+1px);
}
.digits-2 {
	width: rem((40px*2)+1px);
}
.digits-3 {
	width: rem((40px*3)+1px);
}
.digits-4 {
	width: rem((40px*4)+1px);
}
.digits-5 {
	width: rem((40px*5)+1px);
}
.digits-6 {
	width: rem((40px*6)+1px);
}