.intro{

	background-color: $c-intro-bg-top-right;
	@include filter-gradient($c-intro-bg-bottom-left, $c-intro-bg-top-right, horizontal);
	@include background-image(linear-gradient(left bottom, $c-intro-bg-bottom-left 0%,$c-intro-bg-top-right 100%));

	text-align: center;
	position: relative;
	overflow: hidden;

	@include respond-to(mobile){
		padding-top: 160px;
	}

	p,a,h1 {
		color: $c-intro-txt;
	}

	p{
		@include rem-typo(18px, 26px);
		margin-bottom: 1.5em;
	}

	.l-page-wrapper{
		height: 90vh;
		max-height: 700px;
		min-height: 500px;
		position: relative;
		@include respond-to(mobile){
			height: 500px;
		}
	}

	.l-block-content{
		position: absolute;
		bottom: 75px;
		left:0;
	    padding: 0 20px;
		z-index: 100;
		padding-top: 19vh;

		@media (max-height: 500px) {
			padding-top: 96px;
		}

		@include respond-to(mobile){
			padding-top: 96px;
			position: relative;
			bottom: auto;
			padding:0;
		    padding-top: 130px;
		}
	}

	.eventbrite{
		font-weight: bold;
		@include rem-typo(20px, 30px);
		transition: all .2s ease-in-out;
		&:hover{
			text-decoration: none;
			svg{
				transform: scale(1.1,1.1);
			}
		}
	}

	.counter{
		position: absolute;
	    top: 0;
	    width: calc(100% - 40px);

	    @include respond-to(mobile){
	    	width: 100%;
	    }
	}

	.paralax-viewport{
		width: 100%;
		height: 100%;
		position: absolute;
		top:0;
		left:0;

		.parallax-layer{
			width: 100%;
			height: 100%;
			position: absolute;
			top:0;
			left: 0;
		}

		.chateau{
			position: absolute;
			right: 5%;
			bottom: 0;
			width: 50%;
			height: auto;
			z-index: 20;
		}

		.clouds{
			width: 100%;
			margin-top: 20px;

			@include respond-to(mobile){
				display:none;
			}

			.first{
				width: 100%;
				height: 100%;
				position: absolute;
				top:0;
				animation-name: anim-clouds-first;
				animation-duration: 150s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;

				@include respond-to(mobile){
					animation-name: none;
				}
			}

			.scnd{
				width: 100%;
				height: 100%;
				position: absolute;
				top:0;
				left: 100%;
				animation-name: anim-clouds-scnd;
				animation-duration: 150s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;

				@include respond-to(mobile){
					animation-name: none;
				}
			}
		}

		.cloud{
			height: 15px;
			background-color: white;
			opacity: 0.6;
			position: absolute;
			top: 0;
			left: 0;
			@include border-radius(100px);
		}

		.front{
			z-index: 30;

			.cloud:nth-child(1) {
				width: percentage(154/1280);
				top: 20%;
				left: 20%;
			}

			.cloud:nth-child(2) {
				width: percentage(154/1280);
				top: 15%;
				left: 25%;
			}

			.cloud:nth-child(3) {
				width: percentage(100/1280);
				top: 30%;
				left: 10%;
			}

			.cloud:nth-child(4) {
				width: percentage(180/1280);
				top: 38%;
				left: 20%;
			}

			.cloud:nth-child(5) {
				width: percentage(120/1280);
				top: 40%;
				left: 5%;
			}

			.cloud:nth-child(6) {
				width: percentage(120/1280);
				top: 2%;
				left: 75%;
			}

			.cloud:nth-child(7) {
				width: percentage(180/1280);
				top: 15%;
				left: 60%;
			}

			.cloud:nth-child(8) {
				width: percentage(150/1280);
				top: 20%;
				left: 70%;
			}

			.cloud:nth-child(9) {
				width: percentage(100/1280);
				top: 40%;
				left: 80%;
			}

			.cloud:nth-child(10) {
				width: percentage(180/1280);
				top: 34%;
				left: 70%;
			}

			.cloud:nth-child(11) {
				width: percentage(40/1280);
				top: 15%;
				left: 10%;
			}

			.cloud:nth-child(12) {
				width: percentage(40/1280);
				top: 30%;
				left: 90%;
			}
		}

		.back{
			z-index: 10;
			margin-top: 25px;

			.first{
				animation-duration: 200s;
			}

			.scnd{
				animation-duration: 200s;
			}

			.cloud{
				height: 12px;
				opacity: 0.4
			}

			.cloud:nth-child(1) {
				width: percentage(154/1280);
				top: 15%;
				left: 20%;
			}

			.cloud:nth-child(2) {
				width: percentage(154/1280);
				top: 20%;
				left: 25%;
			}

			.cloud:nth-child(3) {
				width: percentage(180/1280);
				top: 38%;
				left: 10%;
			}

			.cloud:nth-child(4) {
				width: percentage(100/1280);
				top: 30%;
				left: 20%;
			}

			.cloud:nth-child(5) {
				width: percentage(120/1280);
				top: 2%;
				left: 5%;
			}

			.cloud:nth-child(6) {
				width: percentage(120/1280);
				top: 40%;
				left: 75%;
			}

			.cloud:nth-child(7) {
				width: percentage(150/1280);
				top: 20%;
				left: 60%;
			}

			.cloud:nth-child(8) {
				width: percentage(180/1280);
				top: 15%;
				left: 70%;
			}

			.cloud:nth-child(9) {
				width: percentage(180/1280);
				top: 20%;
				left: 80%;
			}

			.cloud:nth-child(10) {
				width: percentage(100/1280);
				top: 38%;
				left: 70%;
			}

			.cloud:nth-child(11) {
				width: percentage(40/1280);
				top: 17%;
				left: 5%;
			}

			.cloud:nth-child(12) {
				width: percentage(40/1280);
				top: 10%;
				left: 92%;
			}
		}
	}

	&:after{
		content: "";
		display: block;
		height: 120vw;
		width: 120vw;
		background-color: $c-cfp-bg;
		border-radius: 120vw;
		-webkit-border-radius:  120vw;
		position: absolute;
		bottom: -105vw;
		left: 50%;
		z-index: 40;
		-webkit-transform: translateX(-50%) scale(1.7,1);
		transform: translateX(-50%) scale(1.7,1);
	}


}

@keyframes anim-clouds-first {
    0% {
    	transform: translateX(0);
    }
    48% {
    	opacity: 1;
    }
    49% {
    	transform: translateX(-100%);
		opacity: 0;
    }
    50% {
    	transform: translateX(100%);
    	opacity: 0;
    }
    51% {
    	transform: translateX(100%);
    	opacity: 1;
    }
    100% {
    	transform: translateX(0);
    }
}

@keyframes anim-clouds-scnd {
    0% {
    	transform: translateX(0);
		opacity: 1;
    }
    98% {
    	opacity: 1;
    }
    99% {
    	transform: translateX(-200%);
		opacity: 0;
    }
    100% {
    	transform: translateX(0);
    	opacity: 0;
    }
}
