.cfp .l-block-content .mtl-price {
  color: #96CB3C;
  font-size: 30px;
}

.mlt-price-sub {
  font-size: 13px;
}

.mtl-partner {
  width: 300px;
}

.mtl {
  text-align: center;

  h2 { color: #254087; }

  h3 {
    color: #4dc6e1;
    font-size: 16px;
    font-weight: bold;
    margin: 0 12px 0 12px;

    a { color: #3E8B9C; }
  }
}

.mtl-item-wrapper {
  font-size:0;
}

.mtl-item {
  display: inline-block;
  width: 100%;
  margin: 0;
  max-width: 400px;
  padding-bottom: 40px;
  vertical-align: top;

  svg { fill: #ffffff; }

  .item-icon {
    text-align: center;
    margin-bottom: 20px;
  }

  .item-desc {
    margin: 0 12px 0 12px;
    color: #666;
    font-size: 14px;

    p {
      color: #333;
      margin: 0;
    }
  }
}

.mtl-call-to-action {
  font-size: 18px;
  margin-bottom: 40px;
}

.mtl-buy-button {
  @include border-radius(4px);

  background-color: #96CB3C;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  font-size: 22px;
  margin-top: 0;
  padding: rem(8px) rem(25px);
  text-transform: uppercase;
  transition: all .2s ease-in-out;

  &:hover { text-decoration: none; }
}

.mtl-limited-qty {
  color: #666;
  font-size: 13px;
  font-style: italic;
}

@media screen and (max-width: 640px) {
  .mtl-item { width: 100%; }
}