.mtl-price {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0;
}

.mlt-price-sub {
  font-size: 13px;
}

.mtl-partner {
  width: 300px;
}

.mtl-item {
  text-align: left;
  margin-bottom: 20px;

  .item-title {
    font-size: 16px;
    font-weight: bold;
  }

  .item-desc {
    color: #666;
  }
}