.past{


	background-color: $c-past-bg;
	text-align: center;
	padding: 20px 0 60px;
	
	.title{
		color: $c-past-title;
		margin-bottom: 0;
	}
	
	p{
		margin-top: 0.5em;
		color: $c-past-txt;
		@include rem-typo(19px, 26px);
		margin-bottom: 2em;
	}
	
	.btn{
		margin: 0;
		width: 100%;
	}
	
	ul{
		margin: 0 50px;
		li{
			width: 100%;
			max-width: 24%;
			min-width: 100px;
			text-align: center;
			
			@include respond-to(mobile){
				max-width: 100%;
				margin-top: 5px;
			}
		}
	}

}